<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login - Inventario</title>
    <link rel="stylesheet" th:href="@{/css/castores.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<h2>Inicio de Sesión</h2>

<form th:action="@{/login}" method="post">

    <label>Correo:</label>
    <input type="text" name="username" required />

    <br><br>

    <label>Contraseña:</label>
    <input type="password" name="password" required />

    <br><br>

    <button type="submit">Ingresar</button>
</form>

<p th:if="${param.error}" style="color:red;">
    Usuario o contraseña incorrectos
</p>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>